<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-
theme.min.css">
<h1>Detalle Inmueble </h1>
<h2>ID: {{object.id_inmueble}}</h2>
<h3>Fecha Alta: {{ object.fecha_alta | date:"d/m/Y" }}</h3>
<h3>Tipo Inmueble:{{ object.id_tipo }}</h3>
<h3>Operación: {{ object.id_operacion }}</h3>
<h3>Provincia: {{ object.id_provincia }}</h3>
<h3>Superficie: {{ object.superficie }}</h3>
<h3>Precio Venta: {{ object.precio_venta }}</h3>
<h3>Fecha Venta: {{ object.fecha_venta | date:"d/m/Y" }}</h3>
<h3>Vendedor: {{ object.id_vendedor }}</h3>